body{

    background-color: #1b1a1a;
    background-image: url(arkaplan.jpg);
    background-repeat: no-repeat;           
    background-size: cover;                
    background-position: center;           
    background-attachment: fixed;
}

.kapsayici{
    width: 100%;
    height: 100vh;
    display: flex;      
    flex-wrap: wrap;    
    column-gap: 100%;          
    justify-content: center;
    align-items: center;

}

.kutu{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);

}

.foto{
    background-image: url(1.png);
    width: 90%;
    height: 90%;
    background-repeat: no-repeat;            
    background-position: center;           
    background-attachment: fixed;
    border: none;
    transform: scale(0.95);
}

.foto:active{
    transform: scale(0.90);
}

.reset{
    position: relative;
    width: 400px;
    height: 150px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
 
}
.reset:active{
    transform: scale(0.95);
}

.yazı{
    color: aliceblue;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}


